<div class="container">
  <h1 class="text-center text-uppercase">Nộp bảng đánh giá</h1>
  {{#if hoten}}
  <h4 class="text-start">Hội viên: {{hoten}}</h4>
  {{/if}}
  <form action="{{actionEvaluate role}}" method="post">
    {{!-- input ẩn --}}
  {{#if (compare role 0)}}
  <input type="text" value="{{idUser}}" name="idUser" hidden>
  {{/if}}
    {{!-- end input ẩn --}}
    <div class="row fw-bold text-center fs-5">
      <div class="col-1">STT</div>
      <div class="col">Tiêu chí</div>
      <div class="col-2">Hội viên</div>
      {{#if (compare role 0)}}
        <div class="col-2">Admin</div>
      {{/if}}
    </div>
    {{#each standards}}
      <div class="row text-center fs-5">
        <div class="col-1">{{showSTT @key}}</div>
        <div class="col text-start">{{this.ten}}</div>
        <div class="col-2">
          <input type="text" value="{{this._id}}" name="user[{{@key}}][idStandard]" hidden>
          <input
            class="form-check-input"
            type="checkbox"
            name="user[{{@key}}][check]"
            {{checkCheckbox this._id ../user}}
          /></div>
        {{#if (compare ../role 0)}}
        <div class="col-2">
          <input type="text" value="{{this._id}}" name="admin[{{@key}}][idStandard]" hidden>
          <input
            class="form-check-input"
            type="checkbox"
            name="admin[{{@key}}][check]"
            {{checkCheckbox this._id ../admin}}
          /></div>
        {{/if}}
      </div>
    {{/each}}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Nộp bảng đánh giá</button>
    </div>
  </form>
</div>
<script>
  $("input[type='checkbox']:not(:checked)").val(0);
  $("input[type='checkbox']:checked").val(1);
  $("input[type='checkbox']").on('change', function() {
    $(this).val(this.checked ? 1 : 0);
  });
</script>